@{
    Layout = "~/Layout/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        
    </head>
    <body >
       
          
        <br/>
    Email ID : adilshafiq18@@gmail.com<br/><br/>
    Phone    : 004475789874899<br/><br/>
    Address  : Punjab University Allama Iqbal Campus Lahore <br/><br/>

        
    </body>
</html>
