@{
    Layout = "~/Layout/_Layout.cshtml" ;  
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
     
    </head>
    <body>
  
        <div class="row">
          <div class="twelve columns">
              <ul>
            <li><a style="color: #0094ff;font-size: 20px;" href="~/Admin/ListSelectCategory.cshtml">List Products</a></li>
            <li><a style="color: #0094ff;font-size: 20px;" href="~/Admin/AskInsert.cshtml">Insert</a></li>
            <li><a style="color: #0094ff;font-size: 20px;" href="~/Admin/AskUpdate.cshtml">Update</a></li>
            <li><a style="color: #0094ff;font-size: 20px;" href="~/Admin/AskDelete.cshtml">Delete</a></li>
            <li><a style="color: #0094ff;font-size: 20px;" href="~/Admin/roles.cshtml">User Roles</a></li>
          </ul>
              </div>
            </div>



    </body>
</html>
